<% if @errors %>
    <p class="error"><%= @errors %></p>
<% end %>


<%= form_for '/login', :remote => true do |f| %>
  
  <%= f.text_field :email, :autofocus => true, :placeholder => 'email' %>
  
  <%= f.password_field :password, :placeholder => 'password' %>
  <%= f.submit 'Login' %>
<% end %>