<div class="window">
  <div>
    <%= image_tag('contagious_logo.svg', :id => 'logo') %>
  </div>
  <div class="window_column_left"></div>
  <div class="window_column_right">
    <div class="registration_box_grey">
      <div class="registration_box_white">
<%= form_for @player do |f| %>

  <p>   
    <%= f.text_field :nickname, :placeholder => "Nickname" %>
  </p>

  <p>   
    <%= f.email_field :email, :placeholder => "Email" %>
  </p>

  <p>    
    <%= f.password_field :password, :placeholder => "Password" %>
  </p>

  <p>    
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  </p>

  <button class="button">Update Player</button>

<% end %>
      </div>
    </div>
  </div>
</div>