<!DOCTYPE html>
<html>
<head>
  <title>Contagious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<nav>
    <div class='container'>
      <ul>
        <li><%= link_to('Home', root_path) %></li>
        <%== intellinav %>
      </ul>
    </div>
  </nav>

  <div class='container'>
    <%= yield %>
  </div>
=======
<%= yield %>

<p>test paragraph for fabiantest branch</p>
>>>>>>> 73330efba04ae05c992ce8f425e5bf2e56744a07

</body>
</html>
